/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 95%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  margin-right: 120px;
  font-size: 18px;
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customNav .btn {
  font-size: 15px;
}
